/*Index page styles*/
iframe {
    min-height: 500px;
}

a:link {
    text-decoration: none;
}

body {
    font-size: 14px;
    font-family: Calibri, 'Helvetica Neue', Helvetica, Arial, Verdana,
        sans-serif;
    line-height: 13px;
}

.menue_div { #
    background-color: #CCE0FF; #
    border: 1px solid #d5d5d5;
    border-radius: 3px;
    margin: 0 auto;
    width: 90%;
}

.menue_div_top {
    background-color: white;
    margin: 0 auto;
    width: 90%;
}

.menue_div_bottom {
    background-color: white;
    border: 1px solid #d5d5d5;
    border-radius: 3px;
    margin: 0 auto;
    width: 90%;
    overflow: auto;
    min-height: 500px;
}

.menue_div_top table {
    width: 100%;
    border: 0px none;
}

.menue_div ul {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
}

.menue_div a {
    color: #464646;
    display: block;
    font-weight: bold;
    line-height: 36px;
    padding: 0 15px;
    text-decoration: none;
    text-shadow: 1px 1px 1px #fff;
    transition: all .1s ease-in;
}

.menue_div li:hover>a,.menue_div a:hover {
    background-color: #8686AD;
    color: #fff;
    cursor: pointer !important;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .2);
    z-index: -1;
}

/* Top level navigation */
.menue_div>ul {
    height: 36px;
    padding: 0 10px;
}

.menue_div>ul>li {
    float: left;
    position: relative;
}

/* Sub navigation */
.menue_div li>ul {
    background-color: #CCE0FF;
    border: 1px solid #d5d5d5;
    border-top-width: 0;
    box-shadow: 0 2px 6px rgba(0, 0, 0, .1);
    font-size: smaller;
    left: 0;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    top: 36px;
    transition: all .2s ease-in;
    width: 180px;
    z-index: -1;
}

.menue_div li:hover>ul {
    opacity: 1;
    z-index: 1;
}

.menue_div li>ul a {
    font-weight: normal;
    line-height: 16px;
    padding: 9px 15px;
}

#welcomeMsg {
    text-align: right;
    padding-right: 80px;
}

body,td {
    font-size: 10pt;
    font-family: verdana;
}

#wrap {
    margin: 10% auto 0;
    width: 20%;
}

.error {
    color: red;
    display: none;
}

/*Table styles*/
table.gridtable {
    font-family: verdana, arial, sans-serif;
    font-size: 11px;
    color: #333333;
    border-width: 1px;
    border-color: #666666;
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
}

table.gridtable th {
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #666666;
    background-color: #dedede;
}

table.gridtable td {
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #666666;
    background-color: #ffffff;
    text-align: left;
}

#content {

    margin: 0 auto;
    padding-top: 3%;
    padding-left: 8%;
    padding-right: 8%;
    text-align: center;
}

/* Tooltip on actions */
.tooltip img {
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50 );
    -moz-opacity: 0.5;
    opacity: 0.5;
}

.tooltip:hover img {
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100 );
    -moz-opacity: 1;
    opacity: 1;
}

a.tooltip {
    outline: none;
}

a.tooltip strong {
    line-height: 30px;
}

a.tooltip:hover {
    text-decoration: none;
}

a.tooltip span {
    z-index: 10;
    display: none;
    padding: 14px 20px;
    margin-top: -30px;
    margin-left: 28px;
    width: 240px;
    line-height: 16px;
}

a.tooltip:hover span {
    display: inline;
    position: absolute;
    color: #111;
    border: 1px solid #DCA;
    background: #fffAF0;
}

.callout {
    z-index: 20;
    position: absolute;
    top: 30px;
    border: 0;
    left: -12px;
}

#copyright {
    clear: both;
    color: #404040;
    padding-top: 13px;
    width: 100%;
    text-align: center;
}




/*  http://jsfiddle.net/jonathansampson/VpDUG/170/ */
.modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
                url('../img/loading.gif') 
                50% 50% 
                no-repeat;
}

body.loading {
    overflow: hidden;   
}

body.loading .modal {
    display: block;
}






#error {
    color: red;
    font-size: 20px;
    text-align: right;
}

#title_tbl {
    color: black;
    font-size: 20px;
    margin-bottom: 10px;
    margin-left: 20px;
    text-align: center;
}