    body {
      font-size: 14px;
      font-family: Calibri, 'Helvetica Neue', Helvetica, Arial, Verdana, sans-serif;
      line-height: 13px;
     
    }
    
    .menue_div {
    #  background-color: #CCE0FF;
     # border: 1px solid #d5d5d5;
      border-radius: 3px;
      margin: 0 auto;
      width: 90%;
    }
    .menue_div_top {
      background-color: white;
 
      margin: 0 auto;
       width: 90%;
    }   
	.menue_div_bottom {
      background-color: white;
      border: 1px solid #d5d5d5;
      border-radius: 3px;
      margin: 0 auto;
      width: 90%;
	   overflow: auto;
    }
	
	.menue_div_top table {
    width: 100%;
	 border: 0px none;
}
    
    .menue_div ul {
      list-style: none;
      margin: 0;
      padding: 0;
      position: relative;
    }
    
    .menue_div a {
      color: #464646;
      display: block;
      font-weight: bold;
      line-height: 36px;
      padding: 0 15px;
      text-decoration: none;
      text-shadow: 1px 1px 1px #fff;
      transition: all .1s ease-in;
    }
    
    .menue_div li:hover > a,
    .menue_div a:hover {
      background-color:#8686AD;
      color: #fff;
      cursor: pointer !important;
      text-shadow: 0 -1px 0 rgba(0, 0, 0, .2);
	   z-index: -1;
    }
    
    /* Top level navigation */
    .menue_div > ul {
      height: 36px;
      padding: 0 10px;
    }
    
    .menue_div > ul > li {
      float: left;
      position: relative;
    }
    
    /* Sub navigation */
    .menue_div li > ul {
      background-color: #CCE0FF;
      border: 1px solid #d5d5d5;
      border-top-width: 0;
      box-shadow: 0 2px 6px rgba(0, 0, 0, .1);
      font-size: smaller;
      left: 0;
      opacity: 0;
      overflow: hidden;
      position: absolute;
      top: 36px;
      transition: all .2s ease-in;
      width: 180px;
      z-index: -1;
    }
    
    .menue_div li:hover > ul {
      opacity: 1;
      z-index: 1;
    }
    
    .menue_div li > ul a {
      font-weight: normal;
      line-height: 16px;
      padding: 9px 15px;
    }
	
	#welcomeMsg{
	    text-align: right;
		  padding-right: 80px;
	}
	
	body, td {
    font-size: 10pt;
    font-family: verdana;
}

#wrap { 
  margin: 10% auto 0;
    width: 20%;
}

.error {
    color: red;
     display: none;
}